/**** typeography *****/

* {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Cascadia Mono', sans-serif;
  font-size: 32px;
  color: #274c77;
  margin: 0px;
}

h2 {
  font-family: 'Cascadia Mono', sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

h3 {
  font-family: 'Cascadia Mono', sans-serif;
  color: #fffcf2;
  margin: 0;
}

p {
  font-size: 16px;
  
}
/**** typeography *****/




/**** components *****/

.link {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: #274c77;
}

/* shopping bag-content */

.cart-btn {
  background-color: transparent;
  border: none;
}
.bi-bag {
  font-size: 24px;
  color: #293241;
  cursor: pointer;
  position: relative;
}

.input {
  position: relative;
  font-size: 13px;
  display: flex;
  justify-content: center;
  bottom: 23px;
  height: 0;
}

/* shopping bag-content */




/* ham-burger menu */

.ham-burger {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.burger-bar {
  width: 9%;
  position: absolute;
  background-color: #98c1d9;
  height: 6px;
  border-radius: 15px;
  top: 35px;
  transform: translate(15%, -50%);
  transition-property: transform, opacity, top;
  transition-duration: .9s;
}

.bar-center {
  top: 25px;
}

.bar-bottom {
  top: 15px;
}

.ham-burger.enable .bar-top {
  transform: translate(10%, 2%) rotate(-315deg);
  top: 21px;
}

.ham-burger.enable .bar-center {
  opacity: 0;
}

.ham-burger.enable .bar-bottom {
  transform: translate(13%, 80%)rotate(-225deg);
  top: 16px;
}

/* ham-burger menu */

.hero-btn {
  width: 25%;
  padding: 7px;
  font-size: 14px;
  border-radius: 9px;
  bottom: 75px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}


.item-btn {
  padding: 7px 10px;
  border-radius: 5px;
  border: none;
  box-shadow:  0px 1px 0px black;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: .5s;
}

.item-btn:hover {
  transform: scale(1.10);
}

.item-price {
  font-size: 12px;
}


/** bag item button **/

.quantity-btn-content {
  border: 1px solid #fff;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.increase-btn,
.decrease-btn {
  background-color: transparent;
  border: none;
}

.bi-dash-square,
.bi-plus-square {
  color: #fff;
}

/**** components *****/




/***** body *****/

.container {
  margin: 0 auto;
  width: 92%;
}

body {
  margin: 0;
  background-color: #f8f9fa;
}

/***** body *****/




/**** header *****/ 

header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  z-index: 3;
}

.header-bar {
  position: absolute;
  top: 47px;
  display: none;
  left: 0px;
  justify-content: space-evenly;
  background-color: #98c1d9;
  width: 95%;
  flex-direction: row;
  padding: 10px;
}

/**** header *****/ 




/* shopping bag */

.cart-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  gap: 13px;
  margin-top: 90px;
}

.shopping-section {
  position: fixed;
  top: 0;
  width: 380px;
  height: 685px;
  background-color: #adb5bd;
  right: -455px;
  transition-property: right;
  transition-duration: .9s;
  transition-timing-function: ease-in;
  z-index: 3;
}

.shopping-section.active {
  right: 0px;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  top: 127px;
  left: 0;
  background-color: #98c1d9;
  border-radius: 15px;
  box-shadow: 0 3px 10px -7px black;
}

.product-content-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
}

.product-content-container > h3 {
  margin: 0;
}

.product-content-container > p {
  font-size: 16px;
  margin: 5px 0;
}

.product-content-container > span {
  font-size: 14px;
}

.card-img {
  width: 39%;
  border-radius: 10px 0px 0px 10px;
  background-color: #edede9;
 
}

.bag-placeholder-content {
  display: flex;
  justify-content: center;
  width: 50%;
  top: 50px;
  position: relative;
  left: 34px;
}

.bag-price-container {
  padding: 20px;
  width: 75%;
  display: none;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #98c1d9;
  gap: 20px;
  box-shadow: 0 3px 10px -7px black;

}

.bag-price-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price-text {
  margin: 0;
}

.shipping-content {
  display: flex;
  flex-wrap: wrap;
}

.price-content {
  display: flex;
  flex-wrap: wrap;
}

.price-content > p {
  margin: 0;
}

.bag-price-content > h4 {
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

/* shopping bag */




/***** main section ******/




/**** hero section  ****/

.hero-section {
  background-color: #f4f4f4;
  bottom: -18px;
  position: relative;
  border-radius: 15px;
 
}

.hero-content {
  padding-left: 10px;
  position: absolute;
  bottom:15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  z-index: 2;
}

.hero-img {
  width: 100%;
  opacity: 0.6;
  border-radius: 15px;
}

/**** hero section  ****/




/**** product section  ****/

.tech-products {
  background-color: #415a77;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  margin-top: 40px;
}

.tech-products > h2 {
  color: #fffcf2;
  margin: 0;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  margin-top: 15px;
}

.product-card {
  width: 80%;
  display: flex;
  background-color: #ced4da;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0px 6px 14px -8px black;
  margin-bottom: 5px;
}

.product-card-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card-image {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  background-color: #edede9;
}

.card-text-content {
  text-align: center;
  padding: 0px;
}

.card-text-content > h3 {
  margin-top: 2px;
  margin-bottom: 0px;
}

.card-text-content > p {
  margin: 7px 0px 7px;
}

/**** product section  ****/



/***** media queries *****/
@media screen and (min-width:768px) {
  
  /*** components ***/

  .btn-content {

  }

  .ham-burger {
    display: none;
  }


  /*** body ***/

  .container {
    max-width: 768px;
    width: 80%;
    margin: 0 auto;
  }

  /*** body ***/



  /**** header ****/

  header {
    display: flex;
    justify-content: space-evenly;
  }

  .header-bar {
    position: static;
    display: block;
    background-color: transparent;
    width: 50%;
    display: flex;
  }

   /**** header ****/



    /**** hero section ****/

    .hero-section {
      margin-top: 10px;
    }

    /**** hero section ****/




    /**** products section ****/

    .product-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-around;
    }

    .product-card {
      display: flex;
      flex-direction: column;
      width: 45%;
    }

    .product-card-content {
      display: flex;
    }

    

    .card-image {
      width: 100%;
    }
    
}